.btn-primary,.btn-primary[disabled]{
  background-color: $appleGreen;
  border-color: $btnPrimaryBorder;
  &:hover,&:focus,&:active{
    background-color: $btnPrimaryHover;
    border-color: $btnPrimaryHoverBorder;
  }
}