
.hex {
    overflow: hidden;
    display: inline-block;
    margin: 2em 0;
    width: 12em;
    height: 10.32em;
    @include transform(rotate(-30deg) skewX(30deg));
    @include border-radius($hex-radius);
}
.hex *, .hex *:before {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    @include border-radius($hex-radius);
}

.hex-item-inner {
    cursor: pointer;
    @include transform(skewX(-30deg) rotate(60deg) skewX(30deg));
}
.hex-item-inner-2 {
    content: '';
    @include transform(skewX(-30deg) rotate(60deg) skewX(30deg));
}
.hex-item-inner-2{
    &:before {
        margin-top: -4.5em;
        height: 20em;
        line-height: 20em;
        text-align: center;
        content: '';
        background-position: center;
        background: #ccc;
        @include transform(skewX(-30deg) rotate(-90deg));
    }
}
.dreamlines_android_app .hex-item-inner-2:before{
    @include background(image-url("work/dreamlines_logo.png"),#ccc);
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: 70%;
}
.sound_tools .hex-item-inner-2:before{
    @include background(image-url("work/sound-tools.png"),#ccc);
    background-repeat: no-repeat;
    background-position: 56%;
    background-size: 75%;
}
.media_terrassa .hex-item-inner-2::before{
    @include background(image-url("work/media-terrassa.png"));
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: 150%;
}
.going_out .hex-item-inner-2::before{
    @include background(image-url("work/go.png"));
    background-repeat:no-repeat;
    background-position: 50% -50%;
    background-size: 150%;
}
.homes___property .hex-item-inner-2::before{
    @include background(image-url("work/hp.png"));
    background-repeat:no-repeat;
    background-position: 50% -50%;
    background-size: 150%;
}
.netcuv .hex-item-inner-2::before{
    @include background(image-url("work/netcuv.png"));
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: 150%;
}
.legionella2013 .hex-item-inner-2::before{
    @include background(image-url("work/legionella.jpg"));
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: 150%;
}
.selene .hex-item-inner-2::before{
    @include background(image-url("work/selene.png"));
    background-repeat:no-repeat;
    background-position: 50% 112%;
    background-size: 150%;
}
.myhomefiles .hex-item-inner-2::before{
    @include background(image-url("work/mhf.jpg"));
    background-repeat:no-repeat;
    background-position: 43%;
    background-size: 150%;
}
.business_conections .hex-item-inner-2::before{
    @include background(image-url("work/bc.jpg"));
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: 150%;
}
.personal_webpage .hex-item-inner-2::before{
    @include background(image-url("work/portfolio.jpg"));
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: 150%;
}
.what_s_hot .hex-item-inner-2::before{
    @include background(image-url("work/wgot.png"),#ccc);
    background-repeat:no-repeat;
    background-position: 61%;
    background-size: 75%;
}
.my_urban_garden .hex-item-inner-2::before{
    @include background(image-url("work/my-urban-garden.png"),#ccc);
    background-repeat:no-repeat;
    background-position: 61%;
    background-size: 75%;
}

$leftMargin : 85px;
$topMargin : -42px;

.hex:nth-child(3n) {
    margin-left: 0px;
}

.hex:nth-child(2n) {
    margin-left: $leftMargin;
}

.hex:nth-child(n+2) {
    margin-top: $topMargin;
}
.work{
    margin-left: 60px;
}

@media (min-width: 516px) {

    .hex:nth-child(2n) {
        margin-left: 0px;
    }

    .hex:nth-child(n+2) {
        margin-top: 0px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 0px;
    }

    .hex:nth-child(4n-1) {
        margin-left: $leftMargin;
    }

    .hex:nth-child(n+3) {
        margin-top: $topMargin;
    }

}

@media (min-width: 628px) {
    .work{
        margin-left: auto;
    }
    .hex:nth-child(4n-1) {
        margin-left: 0px;
    }

    .hex:nth-child(n+3) {
        margin-top: 0px;
    }

    .hex:nth-child(6n-2) {
        margin-left: $leftMargin;
    }

    .hex:nth-child(n+4) {
        margin-top: $topMargin;
    }

    .hex:nth-child(7n-2) {
        margin-left: 0px;
    }

}
@media (min-width: 820px) {

    .hex:nth-child(6n-2) {
        margin-left: 0px;
    }

    .hex:nth-child(n+4) {
        margin-top: 0px;
    }

    .hex:nth-child(7n-2) {
        margin-left: $leftMargin;
    }

    .hex:nth-child(n+5) {
        margin-top: $topMargin;
    }

}
