

.navbar-default{
  background-color:$headerGray;
  @include opacity(0.9);
  max-height: 66px;
  border-bottom: 5px solid $appleGreen;
  a{
    line-height: 1.5em;
  }
  .navbar-nav.nav-main {
    .active {
      a{
        background-color: transparent;
        color:white;
        &:hover{
          background-color: transparent;
          color:white;
        }
      }
    }
    > li {
      text-align:center;
      max-height: inherit;
      &:after{
        font-family:"FontAwesome";
        content:"\A\f0d8";
        font-size:2em;
        color:transparent;
        position: absolute;
        bottom: -20px;
      }
      &:first-child{
        &:after{
          left: 23px;
        }
      }
      &:nth-child(2){
        &:after{
          left: 21px;
        }
      }
      > a{
        color: white;
        line-height: 2em;
        font-size: 16px;
      }
      &:hover{
        a{
          background-color: transparent;
          color: white;
        }
      }
    }
  }
  .navbar-collapse{
    position: relative;
    bottom:10px;
    background-color:$headerGray;
  }
}
.divider{
  display: none;
}
@media screen and (min-width: 768px){
  .navbar-nav.navbar-right{
    &:last-child{
      margin-right: 15px;
    }
    li{
      max-width: 47px;
    }
  }
  .navbar-default .navbar-collapse{
    position: inherit;
    bottom:auto;
    background-color:transparent;
  }
  .divider{
    width: 1px;
    height: 29px;
    background-color: white;
    margin-top: 14px;
    margin-left: 8px;
  }
  .nav-main{
    max-height: 60px;
    margin-left: 15px;
    li{
      text-align:left;
      &.active:after{
        color:$appleGreen !important;
        z-index: 0;
      }
      &:hover{
        &:after{
          color:$appleGreen !important;
          z-index: -1;
        }
      }
    }
  }
}
