
// Social
$linkedin:#007bb6;
$stack:#fb8008;
$android:#9acd00;
$github:#333333;
$codeschool:#c68144;
$twitter:#4099FF;

// colors
$lightGray: #e7e7e7;
$headerGray: #32323A;
$ribbon: #f80;
$appleGreen: #02b99c;
$btnPrimaryBorder: scale-lightness($appleGreen, -10);
$btnPrimaryHover: scale-lightness($appleGreen, -10);
$btnPrimaryHoverBorder: scale-lightness($appleGreen, -15);
$tagColor:#18A1E8;

// Libraries
$bootstrap:#6f5499;
$aStrap:#a33f3e;
$fAwesome:#1fa67a;
$reveal:#1c1e20;

// Typography
$bodyColor:#333;